[user]
  name = Lawrence Wang
  email = levity@gmail.com

[core]
  excludesfile = ~/.gitignore

[color]
  ui = true
  diff = auto
  status = auto
  branch = auto

[alias]
  st = status
  ci = commit
  co = checkout
